<li class="treeview{if $main_menu eq 'CMS'} active{/if}">
	<a href="#">
		<i class="fa fa-file-text-o"></i>
		<span>Content Management</span>
		<i class="fa fa-angle-left pull-right"></i>
	</a>
	<ul class="treeview-menu"{if $main_menu eq 'CMS'} style="display:block"{/if}>
		<li class="menu_2nd_level">
			<a href="#"><i class="fa fa-columns"></i> Pages</a>
			<ul class="treeview-menu"{if $sub_menu eq 'CMS_pages'} style="display:block"{/if}>
				<li{if $pg_type eq 'PagesAdd'} class="active"{/if}><a href="{$smarty.const.DYN_ADMIN}/CMS/pages/add"><i class="fa fa-pencil"></i> Add page</a></li>
				<li{if $pg_type eq 'PagesList'} class="active"{/if}><a href="{$smarty.const.DYN_ADMIN}/CMS/pages"><i class="fa fa-list"></i> List pages</a></li>
			</ul>
		</li>
	</ul>
	<ul class="treeview-menu"{if $main_menu eq 'CMS'} style="display:block"{/if}>
		<li class="menu_2nd_level">
			<a href="#"><i class="fa fa-cutlery"></i> Menus</a>
			<ul class="treeview-menu"{if $sub_menu eq 'CMS_menus'} style="display:block"{/if}>
				<li{if $pg_type eq 'MenusAdd'} class="active"{/if}><a href="{$smarty.const.DYN_ADMIN}/CMS/menus/add"><i class="fa fa-pencil"></i> Add menu</a></li>
				<li{if $pg_type eq 'MenusList'} class="active"{/if}><a href="{$smarty.const.DYN_ADMIN}/CMS/menus"><i class="fa fa-list"></i> List menus</a></li>
			</ul>
		</li>
	</ul>
</li>